*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Roboto Light", sans-serif;
}

.todo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo__header  {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    color: white;
}

.todo__title {
    color: white;
}

.todo__list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-bottom: 25px;
}

.todo__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.todo__item-btn {
    height: 30px;
    padding: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    color: white;
}

.done {
    background-color: seagreen;
}

.important {
    background-color: darkorange;
}

.delete {
    background-color: red;
}


.todo__empty {
    color: white;
}

.todo__content {
    width: 500px;
    padding: 15px;
    background-color: rgba(72, 72, 72, 0.39);
    border-radius: 10px;
}

.todo__form{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.todo__input {
    width: 80%;
    height: 40px;
    padding-left: 15px;
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
}

.todo__btn {
    height: 40px;
    padding: 0 27px;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.todo__footer {
    display: flex;
    justify-content: space-between;
}

.todo__count {
    color: white;
}

.status__btn{
    height: 35px;
    padding: 0 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: white;
}

.delete__btn {
    height: 30px;
    padding: 0 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: red;
    color: white;
}
